/* Basic tags */
body{
margin: 0;
font-family: 'Source Sans Pro', sans-serif !important;
}

a{
text-decoration: none;
}

i{
font-style: normal;
text-transform: none;
text-decoration: none;
}

ul{
list-style-type: none;
}

*{
outline: none;
}

/* Font classes */
.extra-light{
font-weight: 200;
}

.light{
font-weight: 300;
}

.normal{
font-weight: 400;
}

.semi-bold{
font-weight: 600;
}

.bold{
font-weight: 700;
}

.ultra-bold{
font-weight: 900;
}

/* Loading */
.loading-background{
margin: 0;
padding: 0;
height: 100%;
width: 100%;
background-color: #fff;
z-index: 2;
position: fixed;
top: 0;
left: 0;
}

.fa-spinner{
top: calc(50% - 70px);
top: -o-calc(50% - 70px);
top: -ms-calc(50% - 70px);
top: -moz-calc(50% - 70px);
top: -webkit-calc(50% - 70px);
left: calc(50% - 70px);
left: -o-calc(50% - 70px);
left: -ms-calc(50% - 70px);
left: -moz-calc(50% - 70px);
left: -webkit-calc(50% - 70px);
position: absolute;
z-index: 2;
color: #999;
animation: spin 1500ms infinite linear;
-o-animation: spin 1500ms infinite linear;
-ms-animation: spin 1500ms infinite linear;
-moz-animation: spin 1500ms infinite linear;
-webkit-animation: spin 1500ms infinite linear;
}

.content{
z-index: 0;
}

@keyframes spin {
  	0%{
    	-webkit-transform: rotate(0deg);
    	transform: rotate(0deg);
  	}
  	100% {
    	-webkit-transform: rotate(359deg);
    	transform: rotate(359deg);
  	}
}

@-webkit-keyframes spin{
	0%{
    	-webkit-transform: rotate(0deg);
    	transform: rotate(0deg);
  	}
  	100%{
    	-webkit-transform: rotate(359deg);
    	transform: rotate(359deg);
  	}
}

/* Two column */
.grid{
max-width: 960px;
margin: 0 auto !important;
margin: 0 calc((100% - 960px)/2);
}

.col-1-2{
width: 48%;
float: left;
margin: 0 1%;
}

/* Header */
.header{
display: block;
width: 100%;
height: 24px;
margin: 35px 0 35px 0;
}

.header p{
display: inline;
font-size: 24px;
color: #b3b3b3;
margin-left: 1%;
}

.header p .normal{
padding-left: 3px;
}

.header ul{
display: inline;
float: right;
margin: 7px 1% 0 0;
}

.header ul li{
display: inline;
padding: 0 10px 0 10px;
font-size: 13px;
color: #999;
}

/* Footer */
.footer{
clear: both;
display: block;
width: 100%;
margin: 50px 0 40px 0;
text-align: center;
font-size: 16px;
color: #999;
}

.footer p{
margin: 0 0 5px 0;
}

.footer img{
display: inline;
height: 25px;
width: auto;
opacity: .3;
}

/* Index page */
.card{
height: 400px;
}

.card-pattern{
position: relative;
height: 200px;
overflow: hidden;
text-align: center;
}

div div a .card-pattern p{
width: 100%;
text-align: center;
font-size: 25px;
}

.card-pattern i{
font-size: 400px;
color: rgba(0,0,0,0.75);
}

.card-pattern p{
position: absolute;
top: 100px;
margin: 0;
color: #fff;
}

.card > p{
font-size: 16px;
color: #444;
}

.card-tuts{
color: #888;
}

.card-tuts i{
margin-right: 3px;
}

/* Tutorial page */
.intro{
width: 100%;
height: 200px;
margin-bottom: 30px;
}

.tutorial-title{
padding-top: 58px;
margin: 0;
font-size: 50px;
color: #000;
}

.infos{
width: calc(100% - 300px);
}

#export{
cursor: pointer;
font-weight: bold;
}

.scrollspy{
float: right;
width: 200px;
font-weight: 300;
}

.scrollspy ul{
padding-top: 0;
margin-top: 0;
}

.scrollspy a{
color: #000;
display: block;
}

.swich{
margin: 0 3px 0 3px;
background: #999;
color: #fff !important;
}

h2{
clear: both;
}

/* JQuery UI */
.droppable1{
background-color: #ED7A6E !important;
}

.droppable2{
background-color: #ED7A6E !important;
}

#draggable code{
z-index: 1;
cursor: pointer;
}

/* Markdown body */
.markdown-body .with{
list-style-type: circle !important;
}

.markdown-body a{
color: #000;
}

.markdown-body p{
margin: 5px 0 !important;
}

.markdown-body ul{
margin: 0 !important;
}

.markdown-body textarea{
height: 100px;
}

.markdown-body img{
margin: 10px 0;
opacity: .5;
transition: opacity 0.5s;
}

.markdown-body img:hover{
opacity: 1;
}

#section3 ~ div code{
display: block;
margin-top: 5px !important;
width: 250px !important;
height: 25px !important;
}

#calc{
cursor: pointer;
border: none;
margin-top: 10px;
}

/* Modal */
.modalDialog {
position: fixed;
font-family: Arial, Helvetica, sans-serif;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0, 0, 0, 0.8);
z-index: 3;
opacity:0;
pointer-events: none;
}

.modalDialog:target {
opacity:1;
pointer-events: auto;
}

.modalDialog > div {
width: 600px;
position: relative;
margin: 10% auto;
padding: 5px 20px 13px 20px;
background: #fff;
}

.close {
color: #666;
position: absolute;
right: 5px;
top: 5px;
font-weight: bold;
cursor: pointer;
}

.close:hover {
color: #000;
}

.modalDialog div h2{
display: inline-block;
width: 100%;
text-align: center;
margin: 20px 0;
}

/* Chat app */
.chat{
width: 100%;
}

.chat header{
width: 100%;
font-size: 36px;
text-align: center;
color: #999;
margin: 0;
padding: 0;
}

.chat p{
width: 100%;
text-align: center;
color: #999;
font-size: 18px;
margin: 0 0 20px 0;
padding: 0;
}

.chat input{
display: inline-block;
width: 100%;
height: 25px;
margin-bottom: 10px;
padding: 3px;
border: none;
background: #EBEBEB;
color: #999;
}

.chat label{
display: inline-block;
color: #666;
}

.chat ul{
padding: 0;
margin: 0 0 20px 0;
}

.chat ul li{
width: 100%;
min-height: 25px;
background: #EBEBEB;
color: #999;
margin-bottom: 3px;
}

.chat ul li strong{
padding: 0 20px 0 5px;
}
