a{
text-decoration: none;
}

.title{
display: inline-block;
width: 100%;
font-size: 26px;
text-align: center;
margin: 10px 0 10px 0;
color: #666;
}

/* CMS home */

.add{
display: inline-block;
height: 25px;
width: 100%;
margin-bottom: 10px;
background-color: #999;
color: #fff;
text-align: center;
line-height: 25px;
}

.add:hover{
background: #666;
}

.record{
margin-bottom: 10px;
}

.record .row{
display: block;
height: 50px;
background: #EBEBEB;
}

.record .row:first-child{
border-bottom: solid #999 3px;
}

.record .row p{
display: inline-block;
width: calc(50% - 10px);
color: #999;
}

.record .row p:nth-child(1){
text-align: left;
margin-left : 10px;
}

.record .row p:nth-child(2){
text-align: right;
margin-right : 10px;
}

.record .button{
width: calc(100% / 3);
height: 25px;
display: inline-block;
text-align: center;
line-height: 25px;
background: #999;
color: #fff;
}

.record .button:hover{
background: #666;
}

/* CMS add */

input{
display: inline-block;
width: 100%;
height: 25px;
margin-bottom: 10px;
padding: 3px;
border: none;
background: #EBEBEB;
color: #999;
}

textarea{
width: 100%;
resize: none;
margin-bottom: 10px;
background: #EBEBEB;
color: #999;
border: none;
}

label{
display: inline-block;
color: #666;
}

input[type="submit"]{
width: 100%;
height: 25px;
margin-top: 10px;
display: inline-block;
text-align: center;
background: #999;
color: #fff;
cursor: pointer;
font-size: 16px;
}

input[type="submit"]:hover{
background: #666;
}
